<%= stylesheet_link_tag "styles" %>
<%= form_for(@compra) do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% @compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuerpo %><br>
    <%= f.text_area :cuerpo, :class => "text_area" %>
  </div>
  <div class="field">
    <%= f.label :comprado %>
    <%= f.check_box :comprado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
