<h1>Listado de cosas para la Casa Rural</h1>

<table>
  <thead>
    <tr>
      <th>Cuerpo</th>
      <th>Comprado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.cuerpo %></td>
        <td><%= compra.esComprado() %></td>
<!--        <td><%= link_to 'Mostrar', compra %></td>-->
        <td><%= link_to 'Modificar', edit_compra_path(compra) %></td>
        <td><%= link_to 'Eliminar', compra, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= form_for([@compra, Compra.new]) do |f| %>
<p><%= f.label :cuerpo, "Nueva Compra" %><br />
  <%= f.text_area :cuerpo %>
</p>
<p><%= f.submit "Añadir" %></p>
<% end %>


